body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #1B3C53;
    background: linear-gradient(168deg, rgba(27, 60, 83, 1) 7%, rgba(35, 76, 106, 1) 27%, rgba(69, 104, 130, 1) 52%, rgba(227, 227, 227, 1) 100%);
    
}

    .container {
        position: relative;
        text-align: center;
        display: block;
    }

    .bottom-text {
        text-align: center;
        top: 20px;
        font-size: 150px;
        z-index: 1;
        font-family: 'Simonetta', serif; 
        color: #19183B;
        transition: color 2.0s ease-in-out;
    }

    .overlay-text {
        text-align: center;
        position: absolute;
        top: 90px;
        left: 20%;
        font-size: 60px;
        color: rgb(255, 255, 255);
        z-index: 2; 
        letter-spacing: 25px;
        font-family: 'Simonetta', serif;
    }

    @media (max-width: 600px) {
  /* Styles applied to all devices with a viewport width of 768px or more */
        .bottom-text {
        text-align: center;
        top: 20px;
        font-size: 100px;
        z-index: 1;
        font-family: 'Simonetta', serif; 
        color: #19183B;
        transition: color 2.0s ease-in-out;
    }

    .overlay-text {
        text-align: center;
        position: absolute;
        top: 46px;
        left: 12%;
        font-size: 50px;
        color: rgb(255, 255, 255);
        z-index: 2; 
        letter-spacing: 15px;
        font-family: 'Simonetta', serif;
    }
}