body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #1B3C53;
    background: linear-gradient(168deg, rgba(27, 60, 83, 1) 7%, rgba(35, 76, 106, 1) 27%, rgba(69, 104, 130, 1) 52%, rgba(227, 227, 227, 1) 100%);
    
}

.container {
    position: relative;
    text-align: center;
    display: block;
}

.bottom-text {
        text-align: center;
        top: 20px;
        font-size: 150px;
        z-index: 1;
        font-family: 'Simonetta', serif; 
        color: #19183B;
        transition: color 2.0s ease-in-out;
}

.overlay-text {
        text-align: center;
        position: absolute;
        top: 90px;
        left: 20%;
        font-size: 60px;
        color: rgb(255, 255, 255);
        z-index: 2; 
        letter-spacing: 25px;
        font-family: 'Simonetta', serif;
}

.icon:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

    
span {
    content: "\1F3AE";
    font-size: 72px;
    font-family: "Roboto";
    animation: vibrate 0.9s infinite;   
}

.icon{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 350px;
    /* Animation properties */
    animation-name: jump;
    animation-duration: 1s; /* Adjust speed as needed */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; /* For a smoother, more natural bounce */
}

@keyframes jump {
  0% {
    transform: translateY(0); /* Start at original position */
  }
  50% {
    transform: translateY(-15px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}


.play{
    font-family: 'Simonetta', serif;
    margin: 0;
    font-size: 40px;
}

a{
    text-decoration: none;
    color: black;
}


@media (max-width: 600px) {
  /* Styles applied to all devices with a viewport width of 768px or more */
        .bottom-text {
        text-align: center;
        top: 20px;
        font-size: 100px;
        z-index: 1;
        font-family: 'Simonetta', serif; 
        color: #19183B;
        transition: color 2.0s ease-in-out;
    }

    .overlay-text {
        text-align: center;
        position: absolute;
        top: 46px;
        left: 12%;
        font-size: 50px;
        color: rgb(255, 255, 255);
        z-index: 2; 
        letter-spacing: 15px;
        font-family: 'Simonetta', serif;
    }

    span {
    content: "\1F3AE";
    font-size: 60px;
    font-family: "Roboto";   
    }

    .play{
    font-family: 'Simonetta', serif;
    margin: 0;
    font-size: 30px;
}
}