body {
    background-color: #ffecd2;
}
.containerr {
    margin-top: 10%;
    background-color: #feb47b62;
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
}