body {
    background-color:  #162736;
}
.containerr {
    margin-top: 6%;
    background: #b877d4;
    background: linear-gradient(90deg, rgba(184, 119, 212, 1) 0%, rgba(0, 212, 255, 0.78) 100%);
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-bottom: 50px;
    padding: 15px;
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    background-color: #162736;
    border: none;
}
.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
}